[submodule "web"]
	path = web
	url = https://github.com/cyber-dojo/web.git
[submodule "runner"]
	path = runner
	url = https://github.com/cyber-dojo/runner.git
[submodule "storer"]
	path = storer
	url = https://github.com/cyber-dojo/storer.git
