[submodule "web"]
	path = web
	url = https://github.com/cyber-dojo/web.git
[submodule "runner"]
	path = runner
	url = https://github.com/cyber-dojo/runner.git
[submodule "storer"]
	path = storer
	url = https://github.com/cyber-dojo/storer.git
[submodule "collector"]
	path = collector
	url = https://github.com/cyber-dojo/collector.git
[submodule "sinatra"]
	path = sinatra
	url = https://github.com/cyber-dojo/sinatra.git
[submodule "differ"]
	path = differ
	url = https://github.com/cyber-dojo/differ.git
[submodule "commander"]
	path = commander
	url = https://github.com/cyber-dojo/commander.git
[submodule "system-tests"]
	path = system-tests
	url = https://github.com/cyber-dojo/system-tests.git
