[submodule "web"]
	path = web
	url = https://github.com/cyber-dojo/web.git
[submodule "runner"]
	path = runner
	url = https://github.com/cyber-dojo/runner.git
[submodule "storer"]
	path = storer
	url = https://github.com/cyber-dojo/storer.git
[submodule "collector"]
	path = collector
	url = https://github.com/cyber-dojo/collector.git
[submodule "sinatra"]
	path = sinatra
	url = https://github.com/cyber-dojo/sinatra.git
[submodule "differ"]
	path = differ
	url = https://github.com/cyber-dojo/differ.git
[submodule "commander"]
	path = commander
	url = https://github.com/cyber-dojo/commander.git
[submodule "system-tests"]
	path = system-tests
	url = https://github.com/cyber-dojo/system-tests.git
[submodule "runner_stateless"]
	path = runner_stateless
	url = https://github.com/cyber-dojo/runner_stateless.git
[submodule "nginx"]
	path = nginx
	url = https://github.com/cyber-dojo/nginx.git
[submodule "terraform"]
	path = terraform
	url = https://github.com/cyber-dojo/terraform-aws.git
[submodule "zipper"]
	path = zipper
	url = https://github.com/cyber-dojo/zipper.git
